:root {
  --primary-color: #4CAF50;
  --secondary-color: #2196F3;
  --tertiary-color: #607D8B;
  --dark-color: #212121;
  --light-color: #F5F5F5;
  --success-color: #8BC34A;
  --error-color: #F44336;
  --bg-color: #E9EBEE;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--dark-color);
}

h1 {
  margin: 20px 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary-color);
  text-shadow: 2px 2px var(--light-color);
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  background-color: var(--light-color);
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

form input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

form button:hover {
  background-color: var(--secondary-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin: 20px auto;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

li:hover {
  background-color: var(--tertiary-color);
}

li h3 {
  margin: 0;
  font-size: 24px;
  color: var(--dark-color);
}

li p {
  margin: 0;
  font-size: 18px;
  color: var(--tertiary-color);
}

li.completed {
  background-color: var(--success-color);
  border: 2px solid var(--primary-color);
}

li.completed:hover {
  background-color: #689F38;
}

li.pending {
  background-color: var(--error-color);
  border: 2px solid var(--secondary-color);
}

li.pending:hover {
  background-color: #D32F2F;
}

li.completed h3 {
  color: var(--light-color);
  text-decoration: line-through;
  }
  
  li.pending h3 {
  color: var(--light-color);
  }
  
  li.completed p {
  color: var(--light-color);
  text-decoration: line-through;
  }
  
  li.pending p {
  color: var(--light-color);
  }
  
  
  
  
